<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/admin/header') %>

    <head>
      <%- include('../layouts/admin/side-bar') %>

        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
          <!-- Navbar -->
          <%- include('../layouts/admin/nav') %>
            <!-- End Navbar -->
            <div class="container-fluid">

              <div class="row my-4">
                <div class="col-12">
                  <div class="card mb-4">
                  </div>
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12">
                  <div class="card mb-4">
                    <div class="card-header  pb-0 p-3">
                      <div class="row">
                        <div class="col-6 d-flex align-items-center">
                          <h6 class="mb-0"></h6>
                        </div>
                        <div class="col-6 text-end">
                          <a class="btn bg-gradient-dark mb-0" href="javascript:;" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fas fa-email"></i>&nbsp;&nbsp;send email</a>
                        </div>

                      </div>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                      <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                          <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">CODE</th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NAME</th>
                              
                              
                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                ACTION</th>
                            </tr>
                          </thead>
                          <tbody>
                           

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>




                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form>
                        <div class="modal-body">
                          <div class="mb-3">
                           <select name="type" id="emailtype" name="emailtype" class="form-control" onchange="getEmailtType()">
                            <option value="">SELECT NOTIFICATION TYPE</option>
                            <option value="INDIVIDUAL">INDIVIDUAL</option>
                            <option value="APPLICANTS">APPLICANTS</option>
                           </select>
                          </div>
                         
                          <div id="addmore">

                          </div>
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn bg-gradient-light  my-4 mb-2" data-bs-dismiss="modal">Close</button> -->
                          <button type="submit" class="btn bg-gradient-dark  my-4 mb-2">Send Email</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <%- include('../layouts/admin/footer') %>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script src="/notify.js"></script>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


                <script>
                  function getEmailtType(){
                    let eType = document.getElementById('emailtype').value;
                    if(eType == "INDIVIDUAL"){
                      try {
                        let indivForm ='';
                        indivForm +=' <div class="mb-3">' ;
                        indivForm +='<input type="email" class="form-control" placeholder="Email Adress" name="email"id="email">' ;
                          indivForm +='</div>' ;
                          indivForm +='<div class="mb-3">' ;
                           indivForm +=' <input type="text" class="form-control" placeholder="Full Name" name="fullname"id="fullname">' ;
                          indivForm +='</div>' ;
                         indivForm +=' <div class="mb-3">' ;
                           indivForm +=' <input type="text" class="form-control" placeholder="Subject" name="subject"id="subject">' ;
                          indivForm +='</div>' ;
                          indivForm +='<div class="mb-3">' ;
                           indivForm +=' <textarea type="text" class="form-control" placeholder="Message" name="emailContent" id="emailContent"> </textarea>' ;
                          indivForm +='</div>' ;
                     
                      
             
                      // document.getElementById('addmore').innerHTML = indivForm;
                      $('#addmore').html(indivForm);
                      } catch (error) {
                        console.log(error)
                      }
                      
                    } else  if(eType == "APPLICANTS"){
                     let appl = `
                      <div class="mb-3">
                            <select name="type" id="emailtype" name="emailtype" class="form-control" onchange="getEmailtType()">
                             <option value="">SELECT SELECT MDA </option>
                              <% ministies.forEach(function(mda){%>
                                <option value="<%= mda.code %>"><%= mda.name %></option>
                              <%})%>
                            </select>
                           </div>
                           <div class="mb-3">
                            <select name="type" id="emailtype" name="emailtype" class="form-control" onchange="getEmailtType()">
                             <option value="">SELECT APPLICATION CURRENT STEP </option>
                             <option value="1">STEP ONE (BIO DATE)</option>
                             <option value="2">STEP TWO (cOUNTUATION)</option>
                             <option value="10">STEP THREE (EXAM PASS)</option>
                             <option value="3">STEP FOUR (EDUCATION INFO & PREV EMPL) </option>
                             <option value="4">STEP FIVE </option>
                             <option value="5">FILE UPLOADING</option>
                             <option value="6">REVIEW & TIN GENERATION</option>
                             <option value="7">PAYMENT POINT</option>
                             <option value="8">COMPLETED</option>
                             <!-- <option value="10">UPLOADING</option> -->
                            </select>
                           </div>
                     `;
                     $('#addmore').html(appl);

                    } else {
                      console.log("hi")
                    }
                  }
                </script>


                  <script>
                    let frm = document.querySelector("form");
                    frm.addEventListener("submit", async (e) => {
                      e.preventDefault();
                      let name = frm.name.value;
                      let email = frm.email.value;
                      let phone_number = frm.phone_number.value;
                      let sector = frm.sector.value;
                      console.log({name:name,  email:email,  phone_number: phone_number, sector:sector})
                      try {
                        let res = await fetch('/admin/judges', {
                          method: "POST",
                          body: JSON.stringify({name:name,  email:email,  phone_number: phone_number, sector:sector}),
                          headers: { 'Content-type': 'application/json' }
                        })

                        let data = await res.json();
                        if (data.err) {
                          Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.err,
                          })
                        } else {
                          Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Successfull',
                            showConfirmButton: false,
                            timer: 1500
                          }).then(() => {
                            window.location.reload();
                          })
                        }

                      } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data.err,
                          })
                      }

                    })
                  </script>
                  </body>

</html>