<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/admin/header') %>
    </head>
    <body>
        <%- include('../layouts/admin/top-nav') %>
        <%- include('../layouts/selfassessment/side-bar') %>
        <!-- views\layouts\selfassessment\side-bar.ejs -->
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid dashboard-default-sec">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Dashboard <br>
                                Welcome, <%= user.name %>
                
                            </h5>
                
                        </div>
                
                
                
                
                        <div class="col-xl-6 xl-100 box-col-12">
                            <div class="">
                                <div class="cal-date-widget card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                                                    <div class="card o-hidden border-0">
                                                        <div class="bg-secondary b-r-4 card-body">
                                                            <div class="media static-top-widget">
                                                                <div class="align-self-center text-center"><i data-feather="shopping-bag"></i></div>
                                                                <div class="media-body"><span class="m-0">Products</span>
                                                                    <h4 class="mb-0 counter">9856</h4><i class="icon-bg" data-feather="shopping-bag"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xl-6 col-lg-6">
                                                    <div class="card o-hidden border-0">
                                                        <div class="bg-primary b-r-4 card-body">
                                                            <div class="media static-top-widget">
                                                                <div class="align-self-center text-center"><i data-feather="message-circle"></i></div>
                                                                <div class="media-body"><span class="m-0">Messages</span>
                                                                    <h4 class="mb-0 counter">893</h4><i class="icon-bg" data-feather="message-circle"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12  box-col-12">
                
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table" >
                                                            <tr>
                                                                <td><strong>Name</strong> </td>
                                                                <td><%= details.taxpayer_name %></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>TIN</strong> </td>
                                                                <td><%= details. taxpayer_rin %></td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Phone Number</strong> </td>
                                                                <td><%= details. mobile_number %></td>
                                                            </tr>
                                                            <tr>
                                                                <td> <strong>Tax Payer Type</strong> </td>
                                                                <td><%= details. tax_payer_type %></td>
                                                            </tr>
                                                            <tr>
                                                                <td> <strong>Status</strong> </td>
                                                                <td><%= details. tax_payer_status %></td>
                                                            </tr>
                                                            <tr>
                                                                <td> <strong>Address</strong> </td>
                                                                <td><%= details.contactaddress %></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                
                                                </div>
                                            </div>
                                            </div>
                
                
                                            
                                        </div>
                
                                        <div class="col-xl-6 col-xs-12 col-md-6 col-sm-6">
                                            <div class="cal-datepicker">
                                                <div class="datepicker-here float-sm-end" data-language="en"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12  box-col-12">
                            <div class="card employee-status">
                                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                                    <h5 class="text-uppercase">TRANSACTIONS</h5>
                                    <div class="setting-list">
                                        <ul class="list-unstyled setting-option">
                                            <li>
                                                <div class="setting-primary"><i class="icon-settings"></i></div>
                                            </li>
                                            <li><i class="view-html fa fa-code font-primary"></i></li>
                                            <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                            <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-status table-responsive">
                                        <table class="table table-bordernone">
                                            <thead>
                                                <tr>
                                                    <th scope="col">TAXPAYER</th>
                                                    <th scope="col">PAYEMENTID</th>
                                                    <th scope="col">ASSAMOUNT</th>
                                                    <th scope="col">AMOUNTPAID</th>
                                                    <th scope="col">OUSTANDING</th>
                                                    <th scope="col">STATUS</th>
                                                    <th scope="col">PAYMENT DATE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% assess.forEach(function(ass) { %>
                                                <tr>
                                                    <td class="bd-t-none u-s-tb"><%= ass.tax_payer_name %></td>
                                                    <td><%= ass.invoice_number %></td>
                                                    <td><%= ass.assessment_amount %></td>
                                                    <td><%= ass.assessment_amount_paid %></td>
                                                    <td><%= ass.assessment_amount_remaining %></td>
                                                    <td class=" <%= ass.settlement_status == 1? 'font-primary': 'font-danger'%>"><%= ass.settlement_status == 1? "Paid" : "Unpaid" %></td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="code-box-copy">
                                        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#emplotee-status" title="Copy"><i class="icofont icofont-copy-alt"></i></button>
                                        <!-- <pre><code class="language-html" id="emplotee-status">&lt;div class="card"&gt; -->
                
                                    </div>
                                </div>
                            </div>
                        </div>
                
                
                
                
                
                
                        <!-- Container-fluid Ends-->
                    </div>
           


        <%- include('../layouts/admin/footer') %>
    </body>

</html>