<%- include('layouts/reg/head') %>
  <form id="regForm" action="/application" method="post">
    <h1>APPLICATION FORM</h1>
    <!-- One "tab" for each step in the form: -->
    
      <h2>Personal Bio-data</h2>
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Full current name <span style="color: red;">*</span> </label>
            <input type="text" name="applicant_fullname" value="<%= application? application.applicant_fullname : name %>" class="form-control" id="formGroupExampleInput" required placeholder="">
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Names by which otherwise known. If different from (a) </label>
            <input type="text" name="other_names" class="form-control" value="<%= application? application.other_names : '' %>" id="formGroupExampleInput" placeholder="">
            <input type="hidden" name="applicant_id" value="<%= id %>"/>
            <input type="hidden" name="email" value="<%= email %>"/>
            <input type="hidden" name="phone" value="<%= phone %>"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Post(s) or which applying in order of preference (first) <span style="color: red;">*</span></label>
            <select name="job_category1" class="form-control" id="" required >
              <option value="">SELECT </option>
              <% job_cate.forEach(function(cat){%>
                <option value="<%= cat.code %>" <%= application? application.job_position == cat.code?'selected' : ''  : '' %>><%= cat.name %></option>
              <%});%>
            </select>
          </div>

        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput"> (Second) </label>
            <select name="job_category2" class="form-control" id="">
              <option value="">SELECT POST</option>
              <% job_cate.forEach(function(cat){%>
                <option value="<%= cat.code %>" <%= application? application.job_position2 == cat.code?'selected' : ''  : '' %>><%= cat.name %> </option>
              <%});%>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Date available for employment <span style="color: red;">*</span></label>
            <input type="date" name="date_available_for_employment" value="<%= application? application.date_available_for_employment : '' %>" class="form-control" id="formGroupExampleInput" required>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Highest education/ technical certificate obtained <span style="color: red;">*</span></label>
            <input type="text" name="highest_education" class="form-control" value="<%= application? application.highest_education : '' %>" id="formGroupExampleInput" required>
          </div>
        </div>
      </div> 
      <!-- <p>
        Present employer’s name, nature of employment, salary (give details of terms of present employment.
        i.e. whether contract, temporary, pensionable or bonded, and whether employed is agreeable to release):
      </p>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Present Employment details</label>
            <textarea type="text" name="present_employment_detail"  class="form-control" id="formGroupExampleInput"
              placeholder=""> <%= application? application.present_employment_detail : '' %></textarea>
          </div>
        </div>

      </div> -->
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Address for correspondence</label>
            <textarea type="text" name="address_of_correspondence" class="form-control" id="formGroupExampleInput"
              placeholder="" required>  <%= application? application.address_of_correspondence : '' %></textarea>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Last place of resident outside Nigeria (to be NON Nigerians or who have
              been outside Nigeria) </label>
            <input type="text" name="last_place_of_residence_outside_nigeria" value="<%= application? application.last_place_of_residence_outside_nigeria : '' %>" class="form-control"
              id="formGroupExampleInput" placeholder="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Age last birthday</label>
            <input type="text" name="age_last_birthday" class="form-control" value="<%= application? application.age_last_birthday : '' %>" id="formGroupExampleInput" placeholder="">
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Date of birth </label>
            <input type="<%= application? '' : 'date' %>" name="dob" class="form-control" id="formGroupExampleInput" value="<%= application? application.dob : '' %>" placeholder="">
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Name and race/ ethnicity of father<span style="color: red;">*</span> </label>
            <input type="text" name="name_race_ethnicity_of_father" class="form-control" value="<%= application? application.name_race_ethnicity_of_father : '' %>" id="formGroupExampleInput"
              required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Father’s present or last occupation<span style="color: red;">*</span></label>
            <input type="text" name="fathers_present_occupation" class="form-control" value="<%= application? application.fathers_present_occupation : '' %>" id="formGroupExampleInput"
              required>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Father’s present address</label>
            <input type="text" name="fathers_present_address" class="form-control" value="<%= application? application.fathers_present_address : '' %>" id="formGroupExampleInput"
              placeholder="">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput">Name and race/ ethnicity of mother<span style="color: red;">*</span> </label>
            <input type="text" name="name_race_ethnicity_of_mother" value="<%= application? application.name_race_ethnicity_of_mother : '' %>" class="form-control" id="formGroupExampleInput"
              required>
              <input type="hidden" name="org_id" value="<%= org %>" />
          </div>
        </div>

      </div>

    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <!-- <button type="button" id="prevBtn" >Previous</button> -->
        <button type="submit" id="nextBtn">Next</button>
      </div>
    </div>
  </form>

 

   <%- include('layouts/reg/footer') %>

 <script>
  let piid = '<%= piid %>';
  let orgid = '<%= org %>';
  let form = document.querySelector('#regForm');
  form.addEventListener('submit', async(e)=> {
    e.preventDefault();
    $('#cover-spin').show(0)
    let date = new Date();
    let month = date.getMonth();
    let year = date.getFullYear();
    let MIL = date.getMilliseconds();
    let SEC = date.getSeconds();
    let aplname = form.applicant_fullname.value;
      var matches = aplname.match(/\b(\w)/g); //['j', 's', 'o', 'n']
      var acronym = matches.join(""); //json
      var acronyml = acronym.toUpperCase();
    let proccessid = `REC/PLT/${acronyml}/${month}/${year}/${orgid}/${MIL}${SEC}`
    console.log(proccessid)

  let pyl = {
    applicant_fullname : form.applicant_fullname.value,
    other_names : form.other_names.value,
    job_position : form.job_category1.value,
    job_position2 : form.job_category2.value,
    date_available_for_employment : form.date_available_for_employment.value,
    highest_education : form.highest_education.value,
    // present_employment_detail : form.present_employment_detail.value,
    address_of_correspondence : form.address_of_correspondence.value,
    last_place_of_residence_outside_nigeria : form.last_place_of_residence_outside_nigeria.value,
    age_last_birthday : form.age_last_birthday.value,
    dob : form.dob.value,
    name_race_ethnicity_of_father : form.name_race_ethnicity_of_father.value,
    fathers_present_occupation : form.fathers_present_occupation.value,
    fathers_present_address : form.fathers_present_address.value,
    name_race_ethnicity_of_mother : form.name_race_ethnicity_of_mother.value,
    process_number: proccessid,
    applicant_id : form.applicant_id.value,
    org_id : form.org_id.value,
    email : form.email.value,
    phone : form.phone.value,
  }
    //  console.log(pyl)
     try {
         const res = await fetch('/application?piid='+piid, {
             method: "POST",
             body: JSON.stringify(pyl),
             headers: {'Content-Type': 'application/json'}
         });

         const data = await res.json();
         console.log(data)

         if (data.err) {
          $('#cover-spin').hide(0)
            if(data.err == "Validation error"){
                Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: "APPLICATION ALREADY EXIST, KINDLY USE THE RETURNING APPLICANT LINK ON THE HOME PAGE, USE YOU PHONE NUMBER TO RETURN TO WHERE YOU LEFT THE FORM",
             })
            } else {
                Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: data.err,
             })
            }
             


         } else {
          $('#cover-spin').hide(0)
             let p = data.data
           Swal.fire({
             position: 'top-end',
             icon: 'success',
             title: 'Successfull',
             showConfirmButton: false,
             timer: 1500
           })
           .then(() => {
             location.assign(`/application_1_1?piid=`+p)
           })
           
         }
     } catch (error) {
      $('#cover-spin').hide(0)
       Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: error.message ,
               // footer: '<a href="">Why do I have this issue?</a>'
             })
     }
  })
 </script>

</body>

</html>