<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f1f1f1;
  }

  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }

  h1 {
    text-align: center;
  }

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  #prevBtn {
    background-color: #bbbbbb;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
   /* spinner */
   #cover-spin {
        position:fixed;
        width:100%;
        left:0;right:0;top:0;bottom:0;
        background-color: rgba(255,255,255,0.7);
        z-index:9999;
        display:none;
    }
    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
      }

      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    #cover-spin::after {
      content: '';
      display: block;
      position: absolute;
      left: 48%;
      top: 40%;
      width: 40px;
      height: 40px;
      border-style: solid;
      border-color: black;
      border-top-color: transparent;
      border-width: 4px;
      border-radius: 50%;
      -webkit-animation: spin .8s linear infinite;
      animation: spin .8s linear infinite;
    }
</style>

<body>
  <div id="cover-spin"></div>

  <form id="regForm">
    <h1>APPLICATION FORM</h1>
    <h2>PART B</h2>
    <span>Schools Attended</span>
    <div id="addedurow">
      <% let ln1=education.length;
      let i = 0;
      %>
        <% if(ln1> 0){%>
          <% education.forEach(function(edu){ 
            i++
            %>
            <input type="hidden" name="eduid" value="<%= edu.id %>" />
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">School <span style="color: red;">*</span></label>
                  <input type="text" name="school_name" class="form-control" value="<%= edu.school_name %>"
                    id="formGroupExampleInput" placeholder="" required>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Qualification <span style="color: red;">*</span></label>
                  <input type="text" name="area" class="form-control" value="<%= edu.area %>" id="formGroupExampleInput"
                    placeholder="" required>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Month <span style="color: red;">*</span></label>
                  <select name="month" class="form-control"id="" required>
                    <option value="">SELECT MONTH</option>
                    <% month.forEach((m) => {%>
                      <option value="<%= m.month %>" <%= m.month == edu.month ? 'selected': '' %>><%= m.month %></option>
                    <%})%>
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Year <span style="color: red;">*</span></label>
                  <!-- <input type="text" name="year" class="form-control" value="<%= edu.year %>" id="formGroupExampleInput" -->
                    <!-- placeholder="" required> -->
                    <select name="year" id="year" class="form-control" required>
                      <option value="">=== Select Year ===</option>
                      <% 
                       var dt = new Date();
                       let year = 1990;
                       for(let i = 0; year < dt.getFullYear(); i++){
                          year += 1;
                           %>
                          <option value="<%= year %>" <%= edu.year ==  year ? 'selected' : '' %>> <%= year %> </option>  
                       
                          <%}%>
                     </select>
                </div>
              </div>
              <% if (i == 1){%>
              <div class="col-md-1 col-sm-12">
                <div class="form-group" style="padding-top: 27px;">
                  <a href="javascript:;" class="btn btn-success" id="add_academi">+</a>
                </div>
              </div>
              <%} else {%>
                <div class="col-md-1 col-sm-12">
                  <div class="form-group" style="padding-top: 27px;">
                    <a href="javascript:;" class="btn btn-danger" onclick="removeAcademic('<%= edu.id %>')" id="">-</a>
                  </div>
                </div>
              <%}%>
              </div>
              <%})%>

                <%} else {%>

                  <div class="row">
                    <div class="col-md-4 col-sm-12">
                      <div class="form-group">
                        <label for="formGroupExampleInput">School <span style="color: red;">*</span></label>
                        <input type="text" name="school_name" class="form-control" value="" id="formGroupExampleInput"
                          placeholder="" required>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <div class="form-group">
                        <label for="formGroupExampleInput">Qualification <span style="color: red;">*</span></label>
                        <input type="text" name="area" class="form-control" id="formGroupExampleInput" placeholder="" required>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                      <div class="form-group">
                        <label for="formGroupExampleInput">Month <span style="color: red;">*</span> </label>
                        <!-- <input type="text" name="month" class="form-control" id="formGroupExampleInput" placeholder="" required> -->
                        <select name="month" class="form-control"id="">
                          <option value="">SELECT MONTH</option>
                          <% month.forEach((m) => {%>
                            <option value="<%= m.month %>"><%= m.month %></option>
                          <%})%>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                      <div class="form-group">
                        <label for="formGroupExampleInput">Year <span style="color: red;">*</span></label>
                        <select name="year" id="year" class="form-control" required>
                          <option value="">=== Select Year ===</option>
                          <% 
                           var dt = new Date();
                           let year = 1990;
                           for(let i = 0; year < dt.getFullYear(); i++){
                              year += 1;
                               %>
                              <option value="<%= year %>" <> <%= year %> </option>  
                           
                              <%}%>
                         </select>
                      </div>
                    </div>
                    <div class="col-md-1 col-sm-12">
                      <div class="form-group" style="padding-top: 27px;">
                        <a href="javascript:;" class="btn btn-success" id="add_academi">+</a>
                      </div>
                    </div>

                    <%}%>
                  </div>

            </div>

    
         </div>

            <p> Any special educational, physical, etc.. achievements or responsible position help: copies of
              certificates
              should be attached;( the original must be brought to any interview to which candidate is summoned)</p>
            <span>Service (if any) with military force with dates:</span>

            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Army no</label>
                  <input type="text" name="army_no" value="<%= application ? application.army_no : ''%>"
                    class="form-control" id="formGroupExampleInput" placeholder="">
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Highest rank reached, period held, and unit </label>
                  <input type="text" name="rank_detail" value="<%= application ? application.rank_detail : ''%>"
                    class="form-control" id="formGroupExampleInput" placeholder="">
                </div>
              </div>
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Character (where applicable entered in discharge book) </label>
                  <input type="text" name="character_detail"
                    value="<%= application ? application.character_detail : ''%>" class="form-control"
                    id="formGroupExampleInput" placeholder="">
                </div>
              </div>
            </div>

            <p>Employment since education completed (excluding military service) stating names of employers, nature of
              employment, dates, salary and reasons for leaving each post:</p>
            <div id="addempl">
              <% let ln11=prev_emplyemtnet.length; 
              let j = 0;
              %>
                <% if(ln11 > 0){%>
                  <% prev_emplyemtnet.forEach(function(emp){
                    j++
                    %>
                    <input type="hidden" name="prvempid" value="<%= emp.id %>" />
                    <div class="row">
                      <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Names of employers</label>
                          <input type="text" name="name_of_prev_employee" value="<%= emp.name_of_prev_employee %>"
                            class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Nature of employment </label>
                          <input type="text" name="nature_of_prev_employment"
                            value="<%= emp.nature_of_prev_employment %>" class="form-control" id="formGroupExampleInput"
                            placeholder="">
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                          <label for="formGroupExampleInput">Salary </label>
                          <input type="text" name="salary_of_prev_employment"
                            value="<%= emp.salary_of_prev_employment %>" class="form-control" id="formGroupExampleInput"
                            placeholder="">
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                          <label for="formGroupExampleInput">reasons for leaving </label>
                          <input type="text" name="reason_for_leaving" class="form-control"
                            value="<%= emp.reason_for_leaving %>" id="formGroupExampleInput" placeholder="">
                        </div>
                      </div>
                      <% if (j == 1){%>
                      <div class="col-md-1 col-sm-12">
                        <div class="form-group" style="padding-top: 27px;">
                          <a href="javascript:;" class="btn btn-success" id="add_empl">+</a>
                        </div>
                      </div>
                      <%} else {%>
                        <div class="col-md-1 col-sm-12">
                          <div class="form-group" style="padding-top: 27px;">
                            <a href="javascript:;" class="btn btn-danger" onclick="removePrev('<%= emp.id %>')" id="">-</a>
                          </div>
                        </div>
                      <%}%>
                    </div>
                    <%})%>

                      <%} else {%>
                        <div class="row">
                          <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Names of employers</label>
                              <input type="text" name="name_of_prev_employee" class="form-control"
                                id="formGroupExampleInput" placeholder="">
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Nature of employment </label>
                              <input type="text" name="nature_of_prev_employment" class="form-control"
                                id="formGroupExampleInput" placeholder="">
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Salary </label>
                              <input type="text" name="salary_of_prev_employment" class="form-control"
                                id="formGroupExampleInput" placeholder="">
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">reasons for leaving </label>
                              <input type="text" name="reason_for_leaving" class="form-control"
                                id="formGroupExampleInput" placeholder="">
                            </div>
                          </div>
                          <div class="col-md-1 col-sm-12">
                            <div class="form-group" style="padding-top: 27px;">
                              <a href="javascript:;" class="btn btn-success" id="add_empl">+</a>
                            </div>
                          </div>
                        </div>
                        <%}%>

            </div>
            <div style="overflow:auto;">
              <div style="float:right;">
                <a href="/subject_taken_and_grade?piid=<%= process_id %>" class="btn btn-primary" id="">Previous</a>
                <button type="submit" id="nextBtn">Next</button>
              </div>
            </div>
  </form>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/notify.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var i = 1;


    $('#add_academi').on('click', function () {
      console.log(i)
      var markup = `
       <div class="row" id="row${i}">
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">School</label>
            <input type="text" name="school_name" class="form-control" id="formGroupExampleInput" placeholder="">
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Qualification </label>
            <input type="text" name="area" class="form-control" id="formGroupExampleInput" placeholder="">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Month </label>
            <select name="month" class="form-control"id="">
                          <option value="">SELECT MONTH</option>
                          <% month.forEach((m) => {%>
                            <option value="<%= m.month %>"><%= m.month %></option>
                          <%})%>
                        </select>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Year </label>
            <select name="year" id="year" class="form-control" required>
                      <option value="">=== Select Year ===</option>
                      <% 
                       var dt = new Date();
                       let year = 1990;
                       for(let i = 0; year < dt.getFullYear(); i++){
                          year += 1;
                           %>
                          <option value="<%= year %>"> <%= year %> </option>  
                       
                          <%}%>
                     </select>
          </div>
        </div>
        <div class="col-md-1 col-sm-12">
          <div class="form-group" style="padding-top: 27px;">
            <a href="javascript:;" class="btn btn-danger" onclick='deleteEdurow(${i})'>-</a>
          </div>
        </div>
      </div>`;

      $("#addedurow").append(markup);
      i++
    })

    function deleteEdurow(h) {
      //  let id = $('#add-rw').val()
      console.log(h)
      $(`#row${h}`).remove()
    }




    $('#add_empl').on('click', function () {
      console.log(i, "Jude")
      var markupI = `
       <div class="row" id="rowe${i}">
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label for="formGroupExampleInput">Names of employers</label>
              <input type="text" name="name_of_prev_employee" class="form-control" id="formGroupExampleInput"
                placeholder="">
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label for="formGroupExampleInput">Nature of employment </label>
              <input type="text" name="nature_of_prev_employment" class="form-control" id="formGroupExampleInput"
                placeholder="">
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label for="formGroupExampleInput">Salary </label>
              <input type="text" name="salary_of_prev_employment" class="form-control" id="formGroupExampleInput"
                placeholder="">
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label for="formGroupExampleInput">reasons for leaving </label>
              <input type="text" name="reason_for_leaving" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
          </div>
         
        <div class="col-md-1 col-sm-12">
          <div class="form-group" style="padding-top: 27px;">
            <a href="javascript:;" class="btn btn-danger" onclick='deleteemprow(${i})'>-</a>
          </div>
        </div>
      </div>`;

      $("#addempl").append(markupI);
      i++
    })

    function deleteemprow(h) {
      //  let id = $('#add-rw').val()
      console.log(h)
      $(`#rowe${h}`).remove()
    }


    function removeAcademic(id){
      $('#cover-spin').show(0)
      fetch('/remove_academic?id='+id)
      .then((response) => {
        let data = response.json()
        console.log(data)
        $('#cover-spin').hide(0)
        if(data.err){
          $('#cover-spin').hide(0)
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.err,
          })
        } else {
          $('#cover-spin').hide(0)
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Removed',
            showConfirmButton: false,
            timer: 1500
          })
           
        }
        location.reload()
        
      })
      .then((data) => console.log(data));
    }

    function removePrev(id){
      $('#cover-spin').show(0)
      fetch('/remove_prev_employment?id='+id)
      .then((response) => {
        let data = response.json()
        console.log(data)
        $('#cover-spin').hide(0)
        if(data.err){
          $('#cover-spin').hide(0)
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.err,
          })
        } else {
          $('#cover-spin').hide(0)
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Removed',
            showConfirmButton: false,
            timer: 1500
          })
           
        }
        location.reload()
        
      })
      .then((data) => console.log(data));

    }
  </script>

  <script>
    let piid = '<%= process_id %>'
    let form = $('#regForm')
    form.on('submit', async (e) => {
      e.preventDefault();
      $('#cover-spin').show(0)
      console.log(form.serializeArray());

      try {
        const res = await fetch('/application_2_1?piid=' + piid, {
          method: "POST",
          body: JSON.stringify(form.serializeArray()),
          headers: { 'Content-Type': 'application/json' }
        });

        const data = await res.json();
        $('#cover-spin').hide(0)

        if (data.err) {
          $('#cover-spin').hide(0)
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.err,
          })


        } else {
          $('#cover-spin').hide(0)
          let p = data.data
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Successfull',
            showConfirmButton: false,
            timer: 1500
          }).then(() => {
            location.assign(`/application_2_2?piid=` + p)
          })

        }
      } catch (error) {
        $('#cover-spin').hide(0)
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: error.message,
          // footer: '<a href="">Why do I have this issue?</a>'
        })
      }
    })
  </script>

</body>

</html>