
 <%- include('layouts/reg/head') %>
  <form id="regForm">
    

    <h1>APPLICATION FORM </h1>
   
    Primary/Post primary Seconday Examination passes:
    <div id="addedurow">
      <% let ln1=Seconday.length; let i=0; %>
        <% if(ln1> 0){%>
          <% Seconday.forEach(function(edu){ i++ %>
            
            <input type="hidden" name="eduid" value="<%= edu.id %>" />
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Examination passed </label>
                  <input type="text" name="Examination_pass" class="form-control" value="<%= edu.Examination_pass %>"
                    id="formGroupExampleInput" placeholder="">
                </div>
              </div>

              <div class="col-md-3 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Grade </label>
                  <input type="text" name="grade" class="form-control" value="<%= edu.grade %>"
                    id="formGroupExampleInput" placeholder="" >
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Month </label>
                  <select name="month" class="form-control" id="" >
                    <option value="">SELECT MONTH</option>
                    <% month.forEach((m)=> {%>
                      <option value="<%= m.month %>" <%= edu.month == m.month ? 'selected' : ' ' %>>
                        <%= m.month %>
                      </option>
                      <%})%>
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label for="formGroupExampleInput">Year </label>
                  <!-- <input type="text" name="year" class="form-control" value="<%= edu.year %>" id="formGroupExampleInput" -->
                  <!-- placeholder="" > -->
                  <select name="yeear" id="year" class="form-control" >
                    <option value="">=== Select Year ===</option>
                    <% var dt=new Date(); let year=1990; for(let i=0; year < dt.getFullYear(); i++){ year +=1; %>
                      <option value="<%= year %>" <%=edu.year==year ? 'selected' : '' %>> <%= year %>
                      </option>

                      <%}%>
                  </select>
                </div>
              </div>
              <% if (i==1){%>
                <div class="col-md-1 col-sm-12">
                  <div class="form-group" style="padding-top: 27px;">
                    <a href="javascript:;" class="btn btn-success" id="add_academi">+</a>
                  </div>
                </div>
                <%} else {%>
                  <div class="col-md-1 col-sm-12">
                    <div class="form-group" style="padding-top: 27px;">
                      <a href="javascript:;" class="btn btn-danger" onclick="removeAcademic('<%= edu.id %>')"
                        id="">-</a>
                    </div>
                  </div>
                  <%}%>
            </div>
            <%})%>

              <%} else {%>

                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Examination passed </label>
                      <input type="text" name="Examination_pass" class="form-control" value=""
                        id="formGroupExampleInput" placeholder="" >
                      <input type="hidden" name="category" value="primary/Post primary Seconday ">
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                      <label for="formGroupExampleInput">grade </label>
                      <input type="text" name="grade" class="form-control" id="formGroupExampleInput" placeholder=""
                        >
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                      <label for="formGroupExampleInput">month  </label>
                      <!-- <input type="text" name="month" class="form-control" id="formGroupExampleInput" placeholder="" > -->
                      <select name="month" class="form-control" id="">
                        <option value="">SELECT MONTH</option>
                        <% month.forEach((m)=> {%>
                          <option value="<%= m.month %>">
                            <%= m.month %>
                          </option>
                          <%})%>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Year </label>
                      <select name="year" id="year" class="form-control" >
                        <option value="">=== Select Year ===</option>
                        <% var dt=new Date(); let year=1990; for(let i=0; year < dt.getFullYear(); i++){ year +=1; %>
                          <option value="<%= year %>" <%=Seconday.year==year ? 'selected' : '' %>> <%= year %>
                          </option>

                          <%}%>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-12">
                    <div class="form-group" style="padding-top: 27px;">
                      <a href="javascript:;" class="btn btn-success" id="add_academi">+</a>
                    </div>
                  </div>

                  <%}%>
                </div>
              </div>
              <hr>
              University Or Higher Education  Examination passes
                <div id="addempl">
                  <% let cnn=Univwersity.length; let j=0; %>
                    <% if(cnn> 0){%>
                      <% Univwersity.forEach(function(edu){ j++ %>
                        <input type="hidden" name="eduid" value="<%= edu.id %>" />
                        <div class="row">
                          <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Examination passed </label>
                              <input type="text" name="Examination_pass" class="form-control" value="<%= edu.Examination_pass %>"
                                id="formGroupExampleInput" placeholder="">
                            </div>
                          </div>
            
                          <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Grade </label>
                              <input type="text" name="grade" class="form-control" value="<%= edu.grade %>"
                                id="formGroupExampleInput" placeholder="" >
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Month </label>
                              <select name="month" class="form-control" id="" >
                                <option value="">SELECT MONTH</option>
                                <% month.forEach((m)=> {%>
                                  <option value="<%= m.month %>" <%= edu.month == m.month ? 'selected' : ' ' %>>
                                    <%= m.month %>
                                  </option>
                                  <%})%>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                              <label for="formGroupExampleInput">Year </label>
                              <!-- <input type="text" name="year" class="form-control" value="<%= edu.year %>" id="formGroupExampleInput" -->
                              <!-- placeholder="" > -->
                              <select name="yeear" id="year" class="form-control" >
                                <option value="">=== Select Year ===</option>
                                <% var dt=new Date(); let year=1990; for(let i=0; year < dt.getFullYear(); i++){ year +=1; %>
                                  <option value="<%= year %>" <%=edu.year==year ? 'selected' : '' %>> <%= year %>
                                  </option>
            
                                  <%}%>
                              </select>
                            </div>
                          </div>
                          <% if (i==1){%>
                            <div class="col-md-1 col-sm-12">
                              <div class="form-group" style="padding-top: 27px;">
                                <a href="javascript:;" class="btn btn-success" id="add_academi">+</a>
                              </div>
                            </div>
                            <%} else {%>
                              <div class="col-md-1 col-sm-12">
                                <div class="form-group" style="padding-top: 27px;">
                                  <a href="javascript:;" class="btn btn-danger" onclick="removeAcademic('<%= edu.id %>')"
                                    id="">-</a>
                                </div>
                              </div>
                              <%}%>
                        </div>
                        <%})%>
                    <%} else {%>
            
                            <div class="row">
                              <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                  <label for="formGroupExampleInput">Examination passed </label>
                                  <input type="text" name="Examination_pass" class="form-control" value=""
                                    id="formGroupExampleInput" placeholder="" >
                                  <input type="hidden" name="category" value="University Or Higher Education Attendend ">
                                </div>
                              </div>
                              <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                  <label for="formGroupExampleInput">grade </label>
                                  <input type="text" name="grade" class="form-control" id="formGroupExampleInput" placeholder=""
                                    >
                                </div>
                              </div>
                              <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                  <label for="formGroupExampleInput">month  </label>
                                  <select name="month" class="form-control" id="">
                                    <option value="">SELECT MONTH</option>
                                    <% month.forEach((m)=> {%>
                                      <option value="<%= m.month %>">
                                        <%= m.month %>
                                      </option>
                                      <%})%>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                  <label for="formGroupExampleInput">Year </label>
                                  <select name="year" id="year" class="form-control" >
                                    <option value="">=== Select Year ===</option>
                                    <% var dt=new Date(); let year=1990; for(let i=0; year < dt.getFullYear(); i++){ year +=1; %>
                                      <option value="<%= year %>" <%=Seconday.year==year ? 'selected' : '' %>> <%= year %>
                                      </option>
            
                                      <%}%>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-1 col-sm-12">
                                <div class="form-group" style="padding-top: 27px;">
                                  <a href="javascript:;" class="btn btn-success" id="add_empl">+</a>
                                </div>
                              </div>
            
                              <%}%>
                            </div>
            
    </div>


    </div>


    <div style="overflow:auto;">
      <div style="float:right;">
        <a href="/application_1_1?piid=<%= piid %> " class=" btn btn-primary" id="">Previous</a>
        <button type="submit" id="nextBtn">Next</button>
      </div>
    </div>
  </form>


   <%- include('layouts/reg/footer') %>
  <script>
    var i = 1;


    $('#add_academi').on('click', function () {
      console.log(i)
      var markup = `
       <div class="row" id="row${i}">
        <div class="col-md-4 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Examination passed </label>
            <input type="text" name="Examination_pass" class="form-control" id="formGroupExampleInput" placeholder="">
            <input type="hidden" name="category" value="primary/Post primary Seconday ">
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Grade </label>
            <input type="text" name="grade" class="form-control" id="formGroupExampleInput" placeholder="">
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Month </label>
            <select name="month" class="form-control"id="">
                          <option value="">SELECT MONTH</option>
                          <% month.forEach((m) => {%>
                            <option value="<%= m.month %>"><%= m.month %></option>
                          <%})%>
                        </select>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="form-group">
            <label for="formGroupExampleInput">Year </label>
            <select name="year" id="year" class="form-control" >
                      <option value="">=== Select Year ===</option>
                      <% 
                       var dt = new Date();
                       let year = 1990;
                       for(let i = 0; year < dt.getFullYear(); i++){
                          year += 1;
                           %>
                          <option value="<%= year %>"> <%= year %> </option>  
                       
                          <%}%>
                     </select>
          </div>
        </div>
        <div class="col-md-1 col-sm-12">
          <div class="form-group" style="padding-top: 27px;">
            <a href="javascript:;" class="btn btn-danger" onclick='deleteEdurow(${i})'>-</a>
          </div>
        </div>
      </div>`;

      $("#addedurow").append(markup);
      i++
    })

    function deleteEdurow(h) {
      //  let id = $('#add-rw').val()
      console.log(h)
      $(`#row${h}`).remove()
    }




    $('#add_empl').on('click', function () {
      console.log(i, "Jude")
      var markupI = `
       <div class="row" id="rowe${i}">
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
              <label for="formGroupExampleInput">Examination passed </label>
              <input type="text" name="Examination_pass" class="form-control" value=""
                id="formGroupExampleInput" placeholder="" >
              <input type="hidden" name="category" value="University Or Higher Education Attendend ">
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="form-group">
              <label for="formGroupExampleInput">grade </label>
              <input type="text" name="grade" class="form-control" id="formGroupExampleInput" placeholder=""
                >
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                  <label for="formGroupExampleInput">month  </label>
                                  <!-- <input type="text" name="month" class="form-control" id="formGroupExampleInput" placeholder="" > -->
                                  <select name="month" class="form-control" id="">
                                    <option value="">SELECT MONTH</option>
                                    <% month.forEach((m)=> {%>
                                      <option value="<%= m.month %>">
                                        <%= m.month %>
                                      </option>
                                      <%})%>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                  <label for="formGroupExampleInput">Year </label>
                                  <select name="year" id="year" class="form-control" >
                                    <option value="">=== Select Year ===</option>
                                    <% var dt=new Date();  year=1990; for(let i=0; year < dt.getFullYear(); i++){ year +=1; %>
                                      <option value="<%= year %>" <%=Seconday.year==year ? 'selected' : '' %>> <%= year %>
                                      </option>
            
                                      <%}%>
                                  </select>
                                </div>
                              </div>
                             
            
        <div class="col-md-1 col-sm-12">
          <div class="form-group" style="padding-top: 27px;">
            <a href="javascript:;" class="btn btn-danger" onclick='deleteemprow(${i})'>-</a>
          </div>
        </div>
      </div>`;

      $("#addempl").append(markupI);
      i++
    })

    function deleteemprow(h) {
      //  let id = $('#add-rw').val()
      console.log(h)
      $(`#rowe${h}`).remove()
    }


    function removeAcademic(id) {
      $('#cover-spin').show(0)
      fetch('/remove_academic?id=' + id)
        .then((response) => {
          let data = response.json()
          console.log(data)
          $('#cover-spin').hide(0)
          if (data.err) {
            $('#cover-spin').hide(0)
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: data.err,
            })
          } else {
            $('#cover-spin').hide(0)
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Removed',
              showConfirmButton: false,
              timer: 1500
            })

          }
          location.reload()

        })
        .then((data) => console.log(data));
    }

    function removePrev(id) {
      $('#cover-spin').show(0)
      fetch('/remove_prev_employment?id=' + id)
        .then((response) => {
          let data = response.json()
          console.log(data)
          $('#cover-spin').hide(0)
          if (data.err) {
            $('#cover-spin').hide(0)
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: data.err,
            })
          } else {
            $('#cover-spin').hide(0)
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'Removed',
              showConfirmButton: false,
              timer: 1500
            })

          }
          location.reload()

        })
        .then((data) => console.log(data));

    }
  </script>

  <script>
    let piid = '<%= piid %>'
    let form = $('#regForm')
    form.on('submit', async (e) => {
      e.preventDefault();
      $('#cover-spin').show(0)
      console.log(form.serializeArray(), piid);

      try {
        const res = await fetch(`/subject_taken_and_grade?piid=`+piid, {
          method: "POST",
          body: JSON.stringify(form.serializeArray()),
          headers: { 'Content-Type': 'application/json' }
        });

        const data = await res.json();
        $('#cover-spin').hide(0)

        if (data.err) {
          $('#cover-spin').hide(0)
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: data.err,
          })


        } else {
          $('#cover-spin').hide(0)
          let p = data.data
          Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Successfull',
            showConfirmButton: false,
            timer: 1500
          }).then(() => {
            location.assign(`/application_2_1?piid=` + p)
          })

        }
      } catch (error) {
        $('#cover-spin').hide(0)
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: error.message,
          // footer: '<a href="">Why do I have this issue?</a>'
        })
      }
    })
  </script>

</body>

</html>