<%- include('layouts/reg/head') %>

<div id="regForm">
  <h1>UPLOAD DOCUMENTS</h1>
  <span>Please label your document before uploading, Only PDF and Scan document image will be accepted. <span style="color: red;">File above 1MB will not be accepted</span></span>
  <form role="form" action="/upload_documents?piid=<%= piid %>" method="POST" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="box-body">
      <div class="form-group fallback">
        <label for="exampleInputEmail1"></label>
        <input type="file" name="file" multiple required  id="exampleInputFile">
      </div>
  </form>


  
</div> <br> <br>

<div style="float: right; padding-bottom: px;">
  <a href="javascript:;" class="btn btn-success" id="" onclick="prev('<%= piid %>')" style="margin-bottom: 20;"  >Previous</a>
  <a href="javascript:;" class="btn btn-primary" id="" onclick="reviewapplication('<%= piid %>')" style="margin-bottom: 20;"  >Preview Application</a>
  <!-- /Application_feee?piid=<%= piid %> -->
</div>




  
 
   

   <!-- /.content-wrapper -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/basic.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/dropzone.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/dropzone.js"></script>

 <%- include('layouts/reg/footer') %>

<script>



  // dropzone
  Dropzone.options.dropzoneform = {
    acceptedFiles: "image/*,application/pdf,.doc,.docx",
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function(){
          location.reload()
        }, 2000)
      })
    }
  }
  
  /*
  * select category to get subcategory
  */
    
  
  </script>
   <script>
   function prev(id){
      location.assign('/application_2_2?piid='+id)
   }

    function reviewapplication(id){
    console.log(id)
    $('#cover-spin').show(0)
      $.ajax({
        url: "/chck_if_file_uploaded?id=" + id,
        method: "GET",
        success: function (response) {
          $('#cover-spin').hide(0)
          if(response > 1){
            $('#cover-spin').hide(0)
            Swal.fire({
             position: 'top-end',
             icon: 'success',
             title: 'Successfull',
             showConfirmButton: false,
             timer: 1500
           })
           .then(() => {
              location.assign('/review_application?piid='+id)
           })
          } else {
            $('#cover-spin').hide(0)
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: "You haven't uploaded any document",
            })
          }
          
        },
        error: function (xhr) {
          $('#cover-spin').hide(0)
          var err = JSON.parse(xhr.responseText);
          // alert(err.message);
          Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: err,
            })
        }
      })
      
   }
 </script>

 <script>
  let piid = '<%= piid %>'
  let form = document.querySelector('#reForm');
  form.addEventListener('submit', async(e)=> {
    e.preventDefault();
    let date = new Date();
    let month = date.getMonth();
    let year = date.getFullYear();
    let MIL = date.getMilliseconds();
    let SEC = date.getSeconds();
    let aplname = form.applicant_fullname.value;
      var matches = aplname.match(/\b(\w)/g); //['j', 's', 'o', 'n']
      var acronym = matches.join(""); //json
      var acronyml = acronym.toUpperCase();
    let proccessid = `REC/PLT/${acronyml}/${month}/${year}/${MIL}${SEC}`


  let pyl = {
    applicant_fullname : form.applicant_fullname.value,
    other_names : form.other_names.value,
    job_position : form.job_category1.value,
    job_position2 : form.job_category2.value,
    date_available_for_employment : form.date_available_for_employment.value,
    highest_education : form.highest_education.value,
    present_employment_detail : form.present_employment_detail.value,
    address_of_correspondence : form.address_of_correspondence.value,
    last_place_of_residence_outside_nigeria : form.last_place_of_residence_outside_nigeria.value,
    age_last_birthday : form.age_last_birthday.value,
    dob : form.dob.value,
    name_race_ethnicity_of_father : form.name_race_ethnicity_of_father.value,
    fathers_present_occupation : form.fathers_present_occupation.value,
    fathers_present_address : form.fathers_present_address.value,
    name_race_ethnicity_of_mother : form.name_race_ethnicity_of_mother.value,
    process_number: proccessid
  }
     console.log(pyl)
     try {
         const res = await fetch('/application?piid='+piid, {
             method: "POST",
             body: JSON.stringify(pyl),
             headers: {'Content-Type': 'application/json'}
         });

         const data = await res.json();
         console.log(data)

         if (data.err) {
             Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: data.err,
             })


         } else {
             let p = data.data
           Swal.fire({
             position: 'top-end',
             icon: 'success',
             title: 'Successfull',
             showConfirmButton: false,
             timer: 1500
           })
           .then(() => {
             location.assign(`/application_1_1?piid=`+p)
           })
           
         }
     } catch (error) {
       Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: error.message ,
               // footer: '<a href="">Why do I have this issue?</a>'
             })
     }
  })
 </script>

</body>

</html>